* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: papayawhip;

}

section {
    max-width: auto;
    margin: 0in 1in 2in 1in;


}

#implantTitle {
    text-align: center;
    margin: 2em 0 2em 0;
}

.toph3 {
    margin-top: 40px;
}

#imgAside {
  width: 40%;
  float: right;
}

.recycleContainer {
    display: flex;
}

.itemSelector {
    margin: 1em 0 1em 0;
    padding: 1em;
    border: solid #999;
    background-color: #ccc;
    max-width: 40em;
}

.selectorTop {
    display: flex;
}

.select-text-field {
    width: 100%;
}

.select-button {
    width: 4em;
    height: 2em;
    font-weight: 700;
}

.select-checkbox {
    margin: 0.5em 0 0.5em 0;
    border: solid #999;
    background: white;
    padding: 5px;
    width: 100%;
    height: 10em;
    overflow: scroll;
}

.select-checkbox option {
  background-color: "FFF";
}

.select-checkbox option:hover {
  background-color: "CCC";
}

.select-checkbox option::before {
  font-family: FontAwesome;
  content: "\2610";
  width: 1.3em;
  display: inline-block;
  margin-left: 2px;
}
.select-checkbox option:checked::before {
  content: "\2611";
}
.remove_btn {
  float: right;
  height: 0.5em;
  color: #A00;
  background:none;
  border: none;
  font-weight: 400;
}
.remove_btn:hover {
  color: #F00;
  font-weight: 900;
}

.report-field {
    width: 100%;
    height: 10em;
    max-width: 40em;
}

.restore-field {
    width: 100%;
    max-width: 40em;
}

#selectors {

}

