{% extends "base.html" %}

{% block content %}

    <section>
        <form>

            <b>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}<br>
                {{ form.number.label }}<br>
                {{ form.number(size=32) }}<br>
                {{ form.doctor.label }}<br>
                {{ form.doctor(size=32) }}<br>
                {{ form.date.label }}<br>
                {{ form.date(size=32) }}<br>
                {{ form.uncoverdate.label }}<br>
                <div display="flex">
                    {{ form.uncoverdate(size=32) }}
                    {{ form.singleStage }}
                    {{ form.singleStage.label }}<br>
                </div>
                {{ form.restoredate.label }}<br>
                {{ form.restoredate(size=32) }}<br>
            </b>

            <aside id="selectors">
                <div class="itemSelector" >
                    <p><b>Implants</b></p>
                    {{ form.implants(size=6, class_="select-checkbox") }}
                    <div class="selectorTop">
                        <input type="text" id="add_implant_text", class="select-text-field">
                        <a href=# id="add_implant"><button type="submit" class='select-button'>Add</button></a>
                    </div>
                </div>

                <div class="itemSelector" >
                    <p><b>Healing Caps</b></p>
                    {{ form.healingcaps(size=6, class_="select-checkbox") }}
                    <div class="selectorTop">
                        <input type="text" id="add_cap_text", class="select-text-field">
                        <a href=# id="add_cap"><button class='select-button'>Add</button></a>
                    </div>
                </div>

                <div class="itemSelector" >
                    <p><b>Restorative Parts</b></p>
                    {{ form.restorativeparts(size=6, class_="select-checkbox") }}
                    <div class="selectorTop">
                        <input type="text" id="add_part_text", class="select-text-field">
                        <a href=# id="add_part"><button class='select-button'>Add</button></a>
                    </div>
                </div>
            </aside>

            <b>
                {{ form.details.label }}<br>
                {{ form.details(class_="report-field") }}<br>
                {{ form.restore.label }}<br>
                {{ form.restore(class_="restore-field") }}<br>
                {{ form.anesthetic.label }}<br>
                {{ form.anesthetic(size=32) }}<br>
                {{ form.tolerance.label }}<br>
                {{ form.tolerance(size=32) }}<br>
                {{ form.rx.label }}<br>
                {{ form.rx(size=32) }}
            </b>

        </form>

    </section>
    <script type="text/javascript" src= "{{ url_for('static',filename='js/noRefresh.js') }}"></script>
    <script type="text/javascript" src= "{{ url_for('static',filename='js/noCtrl.js') }}"></script>
{% endblock %}
