{% extends "base.html" %}

{% block content %}
    <section>

        <img src="{{ url_for('static',filename='images/logo-long.png') }}" width=50%>


        <h2 id="implantTitle">IMPLANT SURGERY REPORT</h2>

        <aside id="imgAside">
            <img src="{{ url_for('static',filename='images/exampleXray.jpeg') }}" width="100%">
        </aside>

        <p><strong><u>Patient:</u> {{ report.name }} <br>
            (Chart# {{ report.number }})</strong></p>
        <p><strong><u>Surgeon:</u>  {{ report.doctor }}</strong></p>
        <p><strong><u>Date:</u>  {{ report.date }}</strong> </p>
        <p><strong><u>Uncover:</u>  {{ report.uncoverdate }}</strong></p>
        <p><strong><u>Restore:</u>  {{ report.restoredate }}</strong></p>

        <h3 class="toph3"><strong><u>IMPLANT TYPE:</u></strong></h3>

        {% for implant in report.implants %}
        <div><p>{{ implant.type }} # {{ implant.tooth }}</p></div>
        {% endfor %}

        {% for cap in report.healingcaps %}
        <div><p>{{ cap.size }} # {{ cap.tooth }}</p></div>
        {% endfor %}

        <h3 class="toph3"><strong><u>RESTORATIVE PART TO ORDER:</u></strong></h3>

        {% for part in report.restorativeparts %}
        <div><p>{{ part }}</p></div>
        {% endfor %}

        <h3 class="toph3"><strong><u>REPORT:</u></strong></h3>
        <p>{{ report.details }}</p>

        <p>{{ report.restore }}</p>
        <!--
            Need to implement image paths
        -->
        <div class="recycleContainer">
            <img src="{{ url_for('static',filename='images/recycle.png') }}">
            <p><strong>Please Recycle:  </strong>Please return your healing caps to us.  We only want Zimmer Encodes and NobelBiocare conical connection metal healing caps.  We will reimburse $10 for each returned healing cap.  Thank you</p>
        </div>
        <p><strong>Anesthetic: {{ report.anesthetic }}</strong></p>
        <p><strong>Patient Tolerance: {{ report.tolerance }}</strong></p>
        <p><strong>Rx:  {{ report.rx }}</strong></p>

    </section>
{% endblock %}